<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BOARD</title>
<link rel="stylesheet" href="/css/board.css" type="text/css">
</head>
<body>
	<div class="container">
		<th:block th:replace="~{nav/nav_bar}" />
		<button onclick="wirteTest();">글쓰기</button>
	</div>
</body>
<script>
	function writePage() {
		window.location.href = "/board/write";
	}

	function wirteTest() {
		fetch('https://localhost:9090/board/add', {
			method : "POST",
			headers : {
				"Content-Type" : "application/json",
				"Cookie" : "JWT_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJpbmZvc2V0IjoiREVGQVVMVCIsInVzZXJuYW1lIjoidGVzdDEyMzQiLCJyb2xlIjoiVVNFUiIsIm5hbWUiOiLqsJXrr7zqsr0iLCJpYXQiOjE3MTIxMjI2NzAsImV4cCI6MTcxMjEyNDQ3MH0.piQoae4ivyazFWGSbXSRfIYnuwT-LHJBb26_fA36Ltw"
			},
			body : JSON.stringify({
				"contents" : "TEST"
			}),
		}).then(function(body) {
			return body.json();
		}).then(function(data) {
			console.log(data);
		});
	}
</script>
</html>