<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BOARD</title>
<link rel="stylesheet" href="/css/board.css" type="text/css">
</head>
<body>
	<div class="container">
		<th:block th:replace="~{nav/nav_bar}" />
		<th:block th:if='${session.id != null}'>
			<button onclick="writePage();">글쓰기</button>
		</th:block>
	</div>
</body>
<script>
	function writePage() {
		window.location.href="/board/write";
	}
</script>
</html>