<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>chat</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>
	<div id="chat"></div>
	<input type="text" id="message" />
	<button onclick="sendMessage()">Send</button>
</body>
<script>
	var stompClient = Stomp.over(new SockJS('/ws'));

	stompClient.connect({}, function(frame) {
		console.log('Connected: ' + frame);
		stompClient.subscribe('/topic/messages', function(response) {
			showMessage(JSON.parse(response.body).content);
		});
	});

	function sendMessage() {
		var message = document.getElementById('message').value;
		stompClient.send("/app/chat", {}, JSON.stringify({
			'content' : message
		}));
	}

	function showMessage(message) {
		var chat = document.getElementById('chat');
		var p = document.createElement('p');
		p.appendChild(document.createTextNode(message));
		chat.appendChild(p);
	}
	
</script>
</html>