<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/index.css" type="text/css">
<title>Friend</title>
</head>
<body>
	<div class="container">
		<th:block th:replace="~{nav/nav_bar}"></th:block>
		<h1>Login</h1>
		<button id="Naver-Login">Naver Login</button>
		<button id="Google-Login">Google Login</button>
		<button id="Kakao-Login">Kakao Login</button>
		<input type="text" id="id"> <input type="password" id="pwd">
		<!--<button id="Login-Request">Custom Login</button>-->
		<button type="button" onclick="login();">Custom Login</button>
		<!--	&lt;!&ndash; 현재 로그인한 사용자의 정보 출력 &ndash;&gt;-->
		<!--	<div th:if="${username == null}">-->
		<!--		<p>로그인 하지 않아도 사용자들의 게시물을 둘러볼 수 있지만.. 로그인 해보세요!</p>-->
		<!--	</div>-->
		<!--	<div th:unless="${username == null}">-->
		<!--		<p th:text="'환영합니다! ' + ${name} + '님'"></p>-->
		<!--		<p th:text="'로그인 아이디: ' + ${username} + ' 권한: ' + ${role}"></p>-->
		<!--	</div>-->
	</div>

	<script th:inline="javascript">
	document.getElementById('Naver-Login').addEventListener('click', function() {
		window.location.href = /*[[@{/oauth2/authorization/naver}]]*/ '';
	});

	document.getElementById('Google-Login').addEventListener('click', function() {
		window.location.href = /*[[@{/oauth2/authorization/google}]]*/ '';
	});

	document.getElementById('Kakao-Login').addEventListener('click', function() {
		window.location.href = /*[[@{/oauth2/authorization/kakao}]]*/ '';
	});


	function login() {
		let id = document.getElementById('id').value;
		let password = document.getElementById('pwd').value;

		let url = "/login?id=" + encodeURIComponent(id) + "&password=" + encodeURIComponent(password);

		fetch(url, {
			method: "POST",
			headers: {
				"Content-Type": "application/json; charset=utf-8"
			},
		}).then(function(response) {
			return response.text();
		}).then(function(data) {
			console.log(data);
		}).catch(function(error) {
			console.error('Error:', error);
			// 오류 처리
		});
	}
</script>
</body>
</html>