<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>메인</title>
	<link rel="stylesheet" href="/css/index.css" type="text/css">
</head>

<body>
	<div class="container">
		<th:block th:replace="~{nav/nav_bar}"></th:block>
		<h1>TAKE BOOK</h1>
		<div id="t1h"></div>
		<div id="sky"></div>
		<div id="reh"></div>
		<th:block th:if='${session.id != null}'>
			<!--			<div style='margin-bottom: 10px; margin-right: 8px;'> <span th:text='${session.lastName}'></span><span>님
					환영합니다</span></div>
			<button onclick="logout();">로그아웃</button>
-->
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			<th:block th:replace="~{nav/chat}"></th:block>
		</th:block>
		<th:block th:if='${session.id == null}'>
			<button onclick="signup();">가입</button>
			<button onclick="login();">로그인</button>
		</th:block>
	</div>
</body>
<script src="/js/index.js">
</script>

</html>