<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>가입</title>
</head>
<body>


<h1>가입</h1>
아이디 <input id="id" name="id" type="text" maxlength="16" required="required"><br>
비밀번호 <input id="password" name="password" type="password" maxlength="20" required="required"><br>
성 <input id="first_name" name="first_name" type="text" maxlength="12" required="required"><br>
이름 <input id="last_name" name="last_name" type="text" maxlength="12" required="required" placeholder="성을 제외한 이름"><br>
생년월일 <input id="birth" name="birth" type="date" maxlength="8" required="required"><br>
성별
<input type="radio" name="gender" value="M" required="required" checked="checked">남
<input type="radio" name="gender" value="F" required="required">여<br>
<button type="button" onclick="signup();">가입</button>
</body>

<script>
	function signup() {
		let id = document.getElementById('id').value;
		let password = document.getElementById('password').value;
		let first_name = document.getElementById('first_name').value;
		let last_name = document.getElementById('last_name').value;
		let birth = document.getElementById('birth').value;
		let gender = document.querySelector('input[name="gender"]:checked').value;

		fetch("/user/signup", {
	    method: "POST",
	    headers: {
	        "Content-Type": "application/json",
	    },
		body: JSON.stringify({
				"id" : id,
				"password" : password,
				"first_name" : first_name,
				"last_name" : last_name,
				"birth" : birth,
				"gender" : gender
			}),
		})
		.then(function (body) {
           return body.text();
	    })
	    .then(function (data) {
           if(data === 'success') {
              alert('가입성공');
              window.location.href = "/";
           } 
           else alert('가입불가 사유: ' + data);
	    });
	}
</script>

</html>